
<div id="<%= dom_id project %>" class="card card-block text-left">    
  <div class="card-header clearfix">
    <p class="card-text">
      <a class="project-name"><%= project.name %></a>
      <%= link_to "✎", edit_project_path(project), class: "btn btn-primary float-right" %>
    </p>
  </div>
  <div class="card-body">
    <%= project.description %>
    <%= button_to "🗑", project, method: :delete, class: "btn btn-danger float-right" %>
  </div>
</div>
